<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maulana</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div
      class="h-screen w-full flex justify-center items-center flex-col gap-y-4"
      id="app"
    >
      <ul v-for="(item, index) in mahasiswa.list" :key="index">
        <li>
          <span @click="getMahasiswaById(item.id)">
            {{ item.name }} {{ item.email }} {{ item.nim }}
          </span>
          <span
            class="text-red-700 font-medium text-md"
            @click="deleteMahasiswa(item.id)"
          >
            x
          </span>
        </li>
      </ul>

      <form
        @submit.prevent="mahasiswa.isUpdate ? updateMahasiswa() : submitMahasiswa()"
        class="flex flex-col gap-y-2"
      >
        <input
          v-model="mahasiswa.name"
          type="text"
          placeholder="Masukkan nama anda"
          class="bg-white rounded-lg shadow-md focus:outline-none focus:drop-shadow-md border-2 border-gray-200"
        />
        <input
          v-model="mahasiswa.email"
          type="text"
          placeholder="Masukkan email anda"
          class="bg-white rounded-lg shadow-md focus:outline-none focus:drop-shadow-md border-2 border-gray-200"
        />
        <input
          v-model="mahasiswa.nim"
          type="text"
          placeholder="Masukkan nim anda"
          class="bg-white rounded-lg shadow-md focus:outline-none focus:drop-shadow-md border-2 border-gray-200"
        />
        <button
          class="bg-white border-2 border-blue-300 rounded-lg text-blue-300"
          type="submit"
        >
          {{ mahasiswa.isUpdate ? 'Update' : 'Create'}}
        </button>
      </form>
    </div>
    <script src="./index.js"></script>
  </body>
</html>
